# This is a generated file. Not intended for manual editing.
version: "3.4"
services:
  bookify.api:
    build:
      context: "D:\\Projects\\CleanArchitectureCourseMilan"
      dockerfile: "src/Bookify.Api/Dockerfile"
      target: "base"
      args:
        BUILD_CONFIGURATION: "Debug"
    command: []
    entrypoint:
    - "/opt/rider-debugger/linux-x64/JetBrains.Debugger.Worker"
    - "--runtimeconfig"
    - "/opt/rider-debugger/JetBrains.Debugger.Worker.runtimeconfig.json"
    - "--mode=server"
    - "--frontend-port=57100"
    - "--backend-port=57300"
    - "--timeout=60"
    environment:
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      RIDER_DEBUGGER_LOG_DIR: "/var/opt/rider-debugger"
      RESHARPER_LOG_CONF: "/etc/opt/rider-debugger/backend-log.xml"
    image: "bookifyapi:dev"
    ports:
    - "127.0.0.1:57013:57100"
    - "127.0.0.1:57213:57300"
    volumes:
    - "C:\\Users\\RWM\\.nuget\\packages:/home/app/.nuget/packages"
    - "D:\\Projects\\CleanArchitectureCourseMilan\\src\\Bookify.Api:/app:rw"
    - "D:\\Projects\\CleanArchitectureCourseMilan:/src:rw"
    - "C:\\Users\\RWM\\AppData\\Local\\JetBrains\\RiderRemoteDebugger\\2024.2.4\\\
      Linux64:/opt/rider-debugger"
    - "C:\\Program Files\\JetBrains\\JetBrains Rider 2024.2.4\\bin:/etc/opt/rider-debugger/backend-log.xml"
    - "C:\\Users\\RWM\\AppData\\Local\\JetBrains\\Rider2024.2\\log\\DebuggerWorker\\\
      JetBrains.Debugger.Worker.2024_9_18_08_41_56:/var/opt/rider-debugger:rw"
    working_dir: "/app"
